{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-md-6 offset-md-3">
                        <h6 class="checkout__title">Change password</h6>
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <span class="text-danger">
                                            {% for error in form.old_password.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </span>
                                        <p>Old password</p>
                                        {{ form.old_password }}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                         <span class="text-danger">
                                            {% for error in form.new_password1.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </span>
                                        <p>New password </p>
                                        {{ form.new_password1 }}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                         <span class="text-danger">
                                            {% for error in form.new_password2.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </span>
                                        <p>New password confirmation</p>
                                        {{ form.new_password2 }}
                                    </div>
                                </div>
                            </div>
                            <div class="float-right">
                                <a href="{% url 'profile:home' %}" class="site-btn">Back</a>
                                <button type="submit" class="site-btn">Change Password</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{# This is used by django.contrib.auth #}
