{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'forms/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'forms/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'forms/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'forms/css/style.css' %}">


    <title>Login #5</title>
</head>
<body>

{% block content %}

{% endblock %}

<script src="{% static 'forms/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'forms/js/popper.min.js' %}"></script>
<script src="{% static 'forms/js/bootstrap.min.js' %}"></script>
<script src="{% static 'forms/js/main.js' %}"></script>
</body>
</html>

