{% extends 'base.html' %}

{% block content %}
    <section class="blog-hero spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-9 text-center">
                    <div class="blog__hero__text">
                        <h2>{{ post.title }}</h2>
                        <ul>
                            <li>By {{ post.author }}</li>
                            <li>{{ post.created_at|date:'F d, Y' }}</li>
                            <li>{{ post.comments.all.count }} Comments</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="blog__details__pic">
                        <img src="{{ post.banner.url }}" alt="{{ post.title }}">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__share">
                            <span>share</span>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="youtube"><i class="fa fa-youtube-play"></i></a></li>
                                <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="blog__details__text">
                            <p>
                                {{ post.description }}
                            </p>
                        </div>
                        <div class="blog__details__quote">
                            <i class="fa fa-quote-left"></i>
                            <p>“When designing an advertisement for a particular product many things should be
                                researched like where it should be displayed.”</p>
                            <h6>_ John Smith _</h6>
                        </div>
                        <div class="blog__details__text">
                            <p>Vyo-Serum along with tightening the skin also reduces the fine lines indicating aging of
                                skin. Problems like dark circles, puffiness, and crow’s feet can be control from the
                                strong effects of this serum.</p>
                            <p>Hydroderm is a multi-functional product that helps in reducing the cellulite and giving
                                the body a toned shape, also helps in cleansing the skin from the root and not letting
                                the pores clog, nevertheless also let’s sweeps out the wrinkles and all signs of aging
                                from the sensitive near the eyes.</p>
                        </div>
                        <div class="blog__details__option">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__details__author">
                                        <div class="blog__details__author__pic">
                                            <img src="{{ post.author.avatar.url }}" alt="">
                                        </div>
                                        <div class="blog__details__author__text">
                                            <h5>{{ post.author }}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__details__tags">
                                        {% for tag in post.tags.all %}
                                            <a href="{% url 'blogs:blog_list' %}?tag={{ tag }}">#{{ tag }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__btns">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    {% if post.get_previous_by_created_at %}
                                        <a href="{% url 'blogs:blog_detail' pk=post.get_previous_by_created_at.id %}"
                                           class="blog__details__btns__item">
                                            <p><span class="arrow_left"></span> Previous Pod</p>
                                            <h5>{{ post.get_previous_by_created_at.title }}</h5>
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    {% if post.get_next_by_created_at %}
                                        <a href="{% url 'blogs:blog_detail' pk=post.get_next_by_created_at.id %}"
                                           class="blog__details__btns__item blog__details__btns__item--next">
                                            <p>Next Pod <span class="arrow_right"></span></p>
                                            <h5>{{ post.get_next_by_created_at.title }}</h5>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="container py-3">
                            {% for comment in post.comments.all %}
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <strong>{{ comment.name }}</strong>
                                </div>
                                <div class="col-6 mb-3 text-right">
                                    {{ comment.created_at|timesince }}
                                </div>
                                <div class="col-12 mb-3">
                                    <p>
                                        {{ comment.comment }}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="blog__details__comment">
                            <h4>Leave A Comment</h4>
                            <form action="{% url 'blogs:blog_comment' pk=post.id %}" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                        <div class="col-lg-4 col-md-4">
                                            <input name="name" type="text" placeholder="Name">
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <input name="email" type="text" placeholder="Email">
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <input name="phone" type="text" placeholder="Phone">
                                        </div>
                                        <div class="col-lg-12 text-center">
                                            <textarea name="comment" placeholder="Comment"></textarea>
                                            <button type="submit" class="site-btn">Post Comment</button>
                                        </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}